$mobile-breakpoint: 480px;
$tablet-breakpoint: 1024px;
$hamburger-breakpoint: 900px;

.videoPlayer {
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  z-index: 999;
}
.iconClose {
  position: absolute;
  right: 1%;
  top: 12%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 3rem;
  z-index: 999;
  cursor: pointer;
}
.heroWrapper {
  color: #fff;
  display: block;
  font-family: 'Open Sans', sans-serif;
  &.blur {
    filter: blur(6px);
    -webkit-filter: blur(6px);
    -ms-filter: blur(6px);
    -moz-filter: blur(6px);
    -o-filter: blur(6px);
  }
  .heroImg {
    background-size: cover;
    padding: 160px 80px 120px;
    min-height: 85vh;
    @media (max-width: $tablet-breakpoint) {
        padding: 160px 50px 120px;
        min-height: 60vh;
      }
    @media screen and (max-width: $mobile-breakpoint) {
      padding: 100px 30px 130px;
      min-height: 40vh ;
      background-position: center;
    }
    .heroTitle {
      font-size: 5rem;
      margin-bottom: 40px;
      line-height: 5rem;
      max-width: 650px;
      font-weight: bold;
      @media screen and (max-width: $mobile-breakpoint) {
        display: block;
        font-size: 2rem;
        font-weight: bold;
        margin: 20px 0;
        line-height: 2rem;
      }
    }
    .alignCenter {
      display: flex;
      align-items: center;
      .heroButton {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 198px;
        height: 60px;
        background: rgba(157, 151, 151, 0.541521);
        border-radius: 9px;
        margin-right: 25px;
        text-decoration: none;
        color: #fff;
        font-size: 1.3rem;
        font-weight: 300;
        cursor: pointer;
        @media screen and (max-width: $mobile-breakpoint) {
          width: 131px;
          height: 43px;
          margin-right: 7px;
          border-radius: 3px; 
          &:first-child {
            display: none;
          }
        }
      }
      .icon {
        font-size: 2.6rem;
        margin-right: 15px;
        border-radius: 50px;
        padding: 7px;
        border: 2px solid #fff;
        cursor: pointer;
        &.like{
          color: green;
          border-color: green;
        }
        &.dislike {
          color: red;
          border-color: red;
        }
        @media screen and (max-width: $mobile-breakpoint) {
          display: none;
        }
      }
    }
    
    .seriesDetails {
      margin: 20px 0;
      font-size: 1.1rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      font-weight: bold;
      @media screen and (max-width: $mobile-breakpoint) {
        margin: 15px 0 17px;
      }
      .heroAge {
        color: #FFFFFF;
        padding: 2px 6px;
        border: 1px solid #979797;
        border-radius: 8px;
        margin-right: 10px;
        @media screen and (max-width: $mobile-breakpoint) {
          border: none;
        }
      }
      .heroYear {
        color: #FFFFFF;
        margin-right: 10px;
      }
      .heroSeason {
        color: #FFFFFF;
        font-weight: bold;
      }
    }
    .heroDescription {
      margin-top: 10px;
      font-size: 1.4rem;
      max-width: 600px;
      line-height: 2rem;
      font-weight: 300;
      @media screen and (max-width: $mobile-breakpoint) {
        display: none;
      }
    }
    }
}