article {
    width: 650px;
    margin: auto;
}

h1 {
    color: rgb(54, 54, 54);
    font-family: 'lucida grande';
    font-size: 2.8em;
    line-height: 1.2em;
    letter-spacing: 1.2px;
    margin-top: 1.5em;
}

span {
    color: rgb(170, 170, 170);
    font-size: 0.9em;
    margin-right: 0.3em;
}

p {
    color: rgb(54, 54, 54);
    font-size: 1.1em;
    line-height: 1.6em;
    margin-top: 1.7em;
    margin-bottom: 1.3em;
}

input#button1 {
    background-color: rgb(175, 45, 62);
    color: white;
    font-family: 'Lucida Grande';
    font-size: 0.65em;
    text-align: center;
    width: 140px;
    height: 40px;
    margin-right: 0.8em;
}

input#button2 {
    border-color: rgb(175, 45, 62);
    color: rgb(175, 45, 62);
    font-family: 'Lucida Grande';
    font-size: 0.65em;
    text-align: center;
    width: 140px;
    height: 40px;
}