
.formWrapper {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 400px;
}

.inputForm {
  margin: 15px 0px;
  padding: 10px 180px 10px 10px;
}

.buttonForm {
  margin: 15px 0px;
  padding: 10px;
}