.wrapper {
  margin: 15px;
  .productWrapper {
    margin-right: 5px;

    text-decoration: none;
    color: #fff;
    .imgSlider {
      height: 150px;
      width: 150px;
      object-fit: cover;
      border-radius: 2px;
    }
  }
}



