$mobile-breakpoint: 480px;
$tablet-breakpoint: 1024px;
$hamburger-breakpoint: 950px;

.episodeCarouselWrapper {
  padding: 0 80px;
  margin-top: -50px;
  background-color: #000;
  padding-top: 22px;
  padding-bottom: 35px;
  .episodesCarouselTitle{
    font-size: 1.5rem;
    color: #fff;;
    font-weight: bold;
  }
  .episodeWrapper {
    padding-top: 15px;
    color: #111;
    display: flex;
    flex-direction: column;
    .episodeImg {
      width: 341px;
      height: 192px;
      object-fit: cover;
      overflow: hidden;
      @media screen and (max-width: $mobile-breakpoint) {
        width: 220px;
        height: 124px; 
      }
    }
    .episodeTitle {
      color: #fff;
      padding-top: 10px;
    }
    .episodeDesc {
      display: none;
    }
  }
}
