.productWrapper {
  
  .small {
    height: 250px;
    width: 100%;
    object-fit: cover;
  }
  .big {
    height: 500px;
    width: 100%;
    object-fit: cover;
  }
  .productTitle {

  }
  .productPrice {

  }
}