@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.gradient {
  width: 100%;
  height: 150px;
  margin-top: -150px;
  background: linear-gradient(0deg, black 26%, rgba(0, 0, 0, 0) 100%);
}