.wrapper {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .link {
    text-align: center;
    margin: auto auto;
    padding: 20px 40px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 2rem;
    background-color: pink;
    color: #ff519a;
  }
}
