$mobile-breakpoint: 480px;
$tablet-breakpoint: 1024px;
$hamburger-breakpoint: 900px;
  
.carouselImgWrapper {
  padding-top: 15px;
  .carouselImg {
    width: 341px;
    height: 192px;
    object-fit: cover;
    margin-right: 7px;
    @media screen and (max-width: $mobile-breakpoint) {
      display: none;
    }
  }
  .carouselImgMobile {
    display: none;
    @media screen and (max-width: $mobile-breakpoint) {
      display: block;
      width: 130px;
      height: 187px; 
      object-fit: cover;
      margin-right: 7px;
    }
  }
  .greyLoading {
    margin: 7px auto 0;
    height: 5px;
    width: 280px;
    background-color: #808080;
    @media screen and (max-width: $mobile-breakpoint) {
      display: none; 
    }
    .redLoading {
      background-color: #cd5c5c;
      height: 100%;
    }
  }
}

.episodeWrapper {
    color: #111;
    display: flex;
    flex-direction: column;
    margin-right: 7px;
    padding-top: 15px;
    @media screen and (max-width: $tablet-breakpoint) {
      flex-direction: column;
      align-items: flex-start;
      border-bottom: 1px solid #fff;
      padding-bottom: 10px;
      &.episodeWrapper:last-child {
        border-bottom: 0;
        padding-bottom: 0;
      }
    }
    @media screen and (max-width: $mobile-breakpoint) {
      flex-direction: column;
    }
    .episodeImg {
      width: 341px;
      height: 192px;
      object-fit: cover;
      @media screen and (max-width: $mobile-breakpoint) {
        width: 100%;
        height: auto; 
      }
    }
    .episodeInfo {
      @media screen and (max-width: $mobile-breakpoint) {
        display: flex;
        flex-direction: column;
        color: #fff;
      }
      .episodeTitle {
        color: #fff;
        padding: 10px 0;
        max-width: 300px;
        @media screen and (max-width: $mobile-breakpoint) {
          font-size: 1rem;
          }
        
      }
      .episodeDesc {
        display: none;
        @media screen and (max-width: $mobile-breakpoint) {
        display: block;
        font-size: 0.9rem;
        line-height: 1.1;
        }
      }
    }
  }